<div class="loading-screen" *ngIf="isLoading">
    <img src="/images/loading-icon.svg" alt="Loading" class="loading-screen__icon" />
</div>

<div class="page-content" *ngIf="!isLoading">
    <header class="header">
        <div class="container header-container">
            <div class="logo-wrapper">
                <img src="/images/logo-icon.svg" alt="Logo">
                <span class="company-name">{{ companyName }}</span>
            </div>

            <nav class="nav-wrapper">
                <a>Главная</a>
                <a>Про гида</a>
                <a>Программа тура</a>
                <a>Стоимость</a>
                <a>Блог</a>
                <a>Контакты</a>
            </nav>

            <div class="header-actions">
                <button class="header-button">Консультация</button>
                <button class="header-toggle" type="button" (click)="toggleHeaderWidget()">
                    {{ headerWidgetButtonLabel }}
                </button>
                <div class="header-widget">
                    @if (isClockVisible) {
                    <div class="header-clock">
                        {{ currentDateTime | date: 'dd.MM.yyyy HH:mm:ss' }}
                    </div>
                    }

                    <div class="header-counter" *ngIf="!isClockVisible">
                        <button class="header-counter__button" type="button" (click)="decrementClickCount()"
                            [disabled]="clickCount === 0">-</button>
                        <span class="header-counter__value">{{ clickCount }}</span>
                        <button class="header-counter__button" type="button" (click)="incrementClickCount()">+</button>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <section class="main">
        <div class="banner"></div>
        <div class="main-info container">
            <h2>
                Насладись прогулкой в горах <br>
                с командой единомышленников
            </h2>
            <div class="search-program">
                <div class="search-program__field">
                    <select class="search-program__select" name="location" id="select-location"
                        [(ngModel)]="selectedLocation">
                        <option value="">Локация для тура</option>
                        @for (location of locations; track location) {
                        <option [value]="location">{{ location }}</option>
                        }
                    </select>
                    <label class="search-program__label" for="select-location">выберите из списка</label>
                </div>

                <div class="search-program__field">
                    <input class="search-program__input" type="date" id="select-date" [(ngModel)]="selectedDate"
                        placeholder="Дата поездки">
                    <label class="search-program__label" for="select-date">укажите дату</label>
                </div>

                <div class="search-program__field">
                    <select class="search-program__select" name="participants" id="select-participants"
                        [(ngModel)]="selectedParticipants">
                        <option value="">Участники</option>
                        <option *ngFor="let option of participantsOptions" [value]="option">{{ option }}</option>
                    </select>
                    <label class="search-program__label" for="select-participants">выберите из списка</label>
                </div>
                <button class="search-program__button" [class.search-program__button--disabled]="isSearchDisabled"
                    [disabled]="isSearchDisabled" id="green-button">Найти программу</button>
            </div>

            <div class="live-input-demo">
                <input class="live-input-demo__field" type="text" [(ngModel)]="liveInputValue"
                    placeholder="Введите текст" />
                <span class="live-input-demo__value">{{ liveInputValue || 'Пусто' }}</span>
            </div>
        </div>
    </section>

    <section class="about">
        <div class="about-wrapper container">
            <div class="about-images">
                <img src="images/mountain.png" alt="about-first" id="about-first">
                <div class="video-card">
                    <img src="images/forest.png" alt="about-second" id="about-second">
                    <img src="images/play-icon.svg" alt="play-icon" id="play-icon">
                </div>
            </div>

            <div class="about-desc">
                <div class="about-desc__title">
                    <h4>о нашем походе</h4>
                    <h2>Исследуйте все горные массивы <br>
                        мира вместе с нами</h2>
                </div>
                <p>Его корни уходят в один фрагмент классической латыни 45 года н.э., то есть более двух тысячелетий
                    назад.
                    Ричард МакКлинток, профессор латыни из колледжа Hampden-Sydney, штат Вирджиния, взял одно из самых
                    странных слов в Lorem Ipsum, "consectetur"и занялся его поисками в классической латинской
                    литературе.
                </p>
                <button class="green-button">Программа тура</button>
            </div>
        </div>
    </section>

    <section class="services">
        <div class="title-wrapper container">
            <div class="services-content">
                <div class="services-text">
                    <div class="about-desc__title">
                        <h4>наше предложение</h4>
                        <h2>Лучшие программы для тебя</h2>
                    </div>
                    <p>Его корни уходят в один фрагмент классической латыни 45 года н.э., то есть более двух тысячелетий
                        назад.
                        Ричард МакКлинток, профессор латыни из колледжа.</p>

                    <div class="service-list">
                        @for (service of services; track service.id) {
                        <div class="service">
                            <img src="/images/{{ service.img }}" alt="{{ service.title }}" class="service-img">
                            <div class="service-content">
                                <h3>{{ service.title }}</h3>
                                <p>{{ service.description }}</p>
                            </div>
                        </div>
                        }
                    </div>
                    <button class="green-button">Стоимость программ</button>
                </div>

                <div class="service-pictures">
                    <img src="images/services-pic1.png">
                    <img src="images/services-pic2.png">
                    <img src="images/services-pic3.png">
                    <img src="images/services-pic4.png">
                </div>
            </div>
        </div>
    </section>