<header class="header">
    <div class="container header-container">
        <div class="logo-wrapper">
            <img src="/images/logo-icon.svg" alt="Logo">
            <span class="company-name">{{ companyName }}</span>
        </div>

        <nav class="nav-wrapper">
            <a>Главная</a>
            <a>Про гида</a>
            <a>Программа тура</a>
            <a>Стоимость</a>
            <a>Блог</a>
            <a>Контакты</a>
        </nav>

        <button class="header-button">Консультация</button>
    </div>
</header>

<section class="banner">
    <div class="main">
        <h2>
            Насладись прогулкой в горах <br>
            с командой единомышленников
        </h2>
    </div>
</section>